{% extends 'base.html' %}

{% block title %}DASHBOARD{% endblock %}

{% block nav %}
    {% if user %}
        <h1>Bem vindo {{ user }}</h1>
        {% else %}
        <h1>Bem vindo visitante</h1>
    {% endif %}
{% endblock %}

{% block content %}
    {% if totalReceita or totalDespesa or saldo %}
        <div>
           <br>TOTAL RECEITA: R${{ totalReceita }}
           <br>TOTAL DESPESA: R${{ totalDespesa }}
           <br><strong>SALDO: R${{ saldo }}</strong>
        </div>  
    {% endif %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
{% endblock %}